  <div class="register-box">
    <div class="register-logo">
      <a> <b style="font-size: 27px">Restablecer contraseña </b></a>
    </div>
    <!-- /.login-logo -->
    <div class="register-box-body">
      <p class="register-box-msg">
        Enviar correo electrónico para restablecer su contraseña
      </p>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group has-feedback">
          <input
            class="form-control"
            placeholder="Correo Electronico"
            type="email"
            id="inputEmail3"
            [(ngModel)]="form.email"
            name="email"
            required
          />
          <span
            class="glyphicon glyphicon-envelope form-control-feedback"
          ></span>
        </div>

        <div class="row">
          <!-- /.col -->
          <div class="col-md-12">
            <button
              type="submit"
              [disabled]="!loginForm.valid"
              class="btn btn-primary btn-block btn-flat col-md-4"
            >
              <b>Enviar correo electrónico</b>
            </button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <a [routerLink]="'/login/'" class="text-center">Volver</a>
    </div>
    <!-- /.login-box-body -->
  </div>
<!-- /.login-box -->
