<div class="container_p">
  <div class="titulo">
    <h1><b>Formulario de Ingreso de Practicas Pre-Profesionales</b></h1>
  </div>
  <button class="btn btn-danger" (click)="volver_lista()">
    <span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Volver</button
  >&nbsp;&nbsp;&nbsp;
  <br />
  <br />
  <form [formGroup]="validarForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="form-group">
        <div class="form-group col-md-6" style="width: auto">
          <label for="idcarrera">Seleccionar Carrera</label>

          <select
            style="width: auto"
            required
            class="form-control"
            (change)="selectChangeCarrera($event)"
            formControlName="idcarrera"
          >
            <option value="" hidden selected>Seleccionar Carrera</option>
            <option *ngFor="let carrera of listcarreras" [ngValue]="carrera.id">
              {{ carrera.nombrecarreras }}
            </option>
          </select>
          <div
            *ngIf="idcarrera.invalid && (idcarrera.dirty || idcarrera.touched)"
            class="alert-danger"
          >
            <div
              *ngIf="idcarrera.errors.required"
              class="container-error-message"
            >
              Este campo es requerido
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-group col-md-6" style="width: auto">
        <label for="idempresa">Seleccionar Area</label>
        <select
          required
          class="form-control"
          (change)="selectChangeArea($event)"
          formControlName="idarea"
        >
          <option value="" hidden selected>Seleccionar Area</option>
          <option *ngFor="let area of listarea" [ngValue]="area.id">
            {{ area.nombrearea }}
          </option>
        </select>

        <div
          *ngIf="idarea.invalid && (idarea.dirty || idarea.touched)"
          class="alert-danger"
        >
          <div *ngIf="idarea.errors.required" class="container-error-message">
            Este campo es requerido
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="form-group col-md-6" style="width: auto">
        <label for="idempresa">Seleccionar Empresa</label>
        <select
          required
          class="form-control"
          (change)="selectChangeEmpresa($event)"
          formControlName="idempresa"
        >
          <option value="" hidden selected>Seleccionar Empresa</option>
          <option *ngFor="let empresa of listempresa" [ngValue]="empresa.id">
            {{ empresa.nombreempresa }}
          </option>
        </select>
        <div
          *ngIf="idempresa.invalid && (idempresa.dirty || idempresa.touched)"
          class="alert-danger"
        >
          <div
            *ngIf="idempresa.errors.required"
            class="container-error-message"
          >
            Este campo es requerido
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-left: initial">
      <div class="form-group col-md-4">
        <label for="inputcupos">Cupos Disponibles</label>
        <input
          type="number"
          min="1"
          placeholder="Ej. 5"
          class="form-control"
          name="cupos"
          id="inputcupos"
          formControlName="cupos"
          required
        />
        <div
          *ngIf="cupos.invalid && (cupos.dirty || cupos.touched)"
          class="alert-danger"
        >
          <div *ngIf="cupos.errors.required" class="container-error-message">
            Este campo es requerido
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputhoras_cumplir">Horas Totales a Cumplir</label>
        <input
          type="number"
          min="1"
          placeholder="Ej. 180"
          class="form-control"
          name="horas_cumplir"
          id="horas_cumplir"
          formControlName="horas_cumplir"
          required
        />
        <div
          *ngIf="
            horas_cumplir.invalid &&
            (horas_cumplir.dirty || horas_cumplir.touched)
          "
          class="alert-danger"
        >
          <div
            *ngIf="horas_cumplir.errors.required"
            class="container-error-message"
          >
            Este campo es requerido
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputciclo">Ciclo para realizar Practica</label>
        <input
          type="text"
          placeholder="Ej. 6to ciclo "
          class="form-control"
          name="ciclo"
          id="ciclo"
          formControlName="ciclo"
        />
      </div>
    </div>
    <div class="container">
      <div class="form-group col-md-4">
        <label for="inputfecha_inicio">Fecha de Inicio</label>
        <input
          type="date"
          class="form-control"
          name="fecha_inicio"
          id="fecha_inicio"
          formControlName="fecha_inicio"
          required
        />
        <div
          *ngIf="
            fecha_inicio.invalid && (fecha_inicio.dirty || fecha_inicio.touched)
          "
          class="alert-danger"
        >
          <div
            *ngIf="fecha_inicio.errors.required"
            class="container-error-message"
          >
            Este campo es requerido
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputhoa_entrada">Horario Entrada</label>
        <input
          type="time"
          class="form-control"
          name="hora_entrada"
          id="hora_entrada"
          formControlName="hora_entrada"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="inputhora_salida">Horario Salida</label>
        <input
          type="time"
          class="form-control"
          name="hora_salida"
          id="hora_salida"
          formControlName="hora_salida"
        />
      </div>
    </div>

    <div class="container">
      <div class="form-group col-md-6">
        <label for="exampleFormControlTextarea1"
          >Descripcion de Actividades a realizar</label
        >
        <textarea
          class="form-control"
          rows="3"
          name="actividades"
          id="actividades"
          formControlName="actividades"
        ></textarea>
        <div
          *ngIf="
            actividades.invalid && (actividades.dirty || actividades.touched)
          "
          class="alert-danger"
          ng-show="!actividades"
        >
          <div
            *ngIf="actividades.errors.minlength"
            class="container-error-message"
          >
            Longitud de cadena invalida
          </div>
          <div
            *ngIf="actividades.errors.maxlength"
            class="container-error-message"
          >
            Longitud de cadena invalida
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="exampleFormControlTextarea1"
          >Requisitos del Estudiante</label
        >
        <textarea
          class="form-control"
          rows="3"
          name="requerimiento"
          id="requerimiento"
          formControlName="requerimiento"
        ></textarea>
        <div
          *ngIf="
            requerimiento.invalid &&
            (requerimiento.dirty || requerimiento.touched)
          "
          class="alert-danger"
          ng-show="!requerimiento"
        >
          <div
            *ngIf="requerimiento.errors.minlength"
            class="container-error-message"
          >
            Longitud de cadena invalida
          </div>
          <div
            *ngIf="requerimiento.errors.maxlength"
            class="container-error-message"
          >
            Longitud de cadena invalida
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-group col-md-6">
        <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-floppy-saved">&nbsp;</span>
          <b>Registrar Practica</b>
        </button>
      </div>
    </div>
  </form>
</div>
