<div class="login-box">
  <div class="login-logo">
    <a> <b style="font-size: 27px">Cambiar Contraseña </b></a>
  </div>
  <!-- /.login-logo -->
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="login-box-body">
      <p class="login-box-msg">Ingrese su correo electronico y su nueva contraseña</p>

      <div class="form-group has-feedback">
        <input
          class="form-control"
          placeholder="Correo Electronico"
          type="email"
          id="inputEmail3"
          name="email"
          [(ngModel)]="form.email"
          required
        />
        <div class="alert alert-danger" [hidden]="!prueba.email">
          {{ prueba.email }}
        </div>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <input
          class="form-control"
          placeholder="Contraseña"
          type="password"
          id="inputPassword3"
          name="password"
          [(ngModel)]="form.password"
          required
        />
        <div class="alert alert-danger" [hidden]="!prueba.password">
            {{ prueba.password }}
          </div>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input
          class="form-control"
          placeholder="Confirmar Contraseña"
          type="password"
          id="inputPassword4"
          name="password_confirmarion"
          [(ngModel)]="form.password_confirmation"
          required
        />

        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
          <button
            type="submit"
            [disabled]="!loginForm.valid"
            class="btn btn-primary btn-block btn-flat col-md-4"
          >
            <b>CAMBIAR CONTRASEÑA</b>
          </button>
        </div>
        <!-- /.col -->
      </div>
    </div>
  </form>

  <!-- /.login-box-body -->
</div>

<!-- /.login-box -->
