<div class="container_p">
  <h1 style="text-align: center">
    <b
      >Sistema de Gestión de Cupos para Prácticas Pre-Profesionales y
      Pasantías</b
    >
  </h1>

  <div class="container">
    <h2>Información de Convenios</h2>
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>{{ conttotalconvenios }}</h3>
            &nbsp;
            <p *ngIf="conttotalconvenios == 0">Convenios Establecidos</p>
            <p *ngIf="conttotalconvenios == 1">Convenio Establecido</p>
            <p *ngIf="conttotalconvenios > 1">Convenios Establecidos</p>
          </div>
          <div class="icon">
            <i class="ion ion-briefcase"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
          <div class="inner">
            <h3>{{ contconvenios }}</h3>
            &nbsp;
            <p *ngIf="contconvenios == 0">Convenios Vencidos</p>
            <p *ngIf="contconvenios == 1">Convenio Vencido</p>
            <p *ngIf="contconvenios > 1">Convenios Vencidos</p>
          </div>
          <div class="icon">
            <i class="ion ion-close"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Postulaciones</h2>
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>{{ contpracticas }}</h3>
            &nbsp; &nbsp;
            <p>
              <a
                [routerLink]="'/principal/practicas_nuevas'"
                style="color: white"
                ><b>Postulaciones para prácticas</b></a
              >
            </p>
          </div>
          <div class="icon">
            <i class="ion ion-university"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>{{ contpasantias }}</h3>
            &nbsp; &nbsp;

            <p>
              <a
                [routerLink]="'/principal/pasantias_nuevas'"
                style="color: white"
                ><b>Postulaciones para pasantías</b></a
              >
            </p>
          </div>
          <div class="icon">
            <i class="ion ion-cash"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>{{ contproyectos }}</h3>
            &nbsp;&nbsp;

            <p>
              <a
                [routerLink]="'/principal/proyectos_nuevos'"
                style="color: white"
                ><b>Postulaciones para proyectos</b></a
              >
            </p>
          </div>
          <div class="icon">
            <i class="ion ion-document-text"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
