<div class="container_p">
  <div class="titulo">
    <h1>
      <b
        >Formulario de Edición de Convenios para realizar Prácticas
        Pre-Profesionales o Pasantías</b
      >
    </h1>
  </div>
  <button class="btn btn-danger" (click)="volver_lista()">
    <span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Volver</button
  >&nbsp;&nbsp;&nbsp;
  <br />
  <br />
  <div class="container">
    <form (ngSubmit)="put(formConvenio)" #formConvenio="ngForm">
      <div class="form-group" style="display: none">
        <label for="idcarrera">Seleccionar Carrera</label>
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Password</label>
            <select
              disabled
              class="form-control"
              name="idcarrera"
              id="idcarrera"
              [(ngModel)]="convenio.idcarrera"
            >
              <option value="" hidden selected>Seleccionar Carrera</option>
              <option
                *ngFor="let carrera of listcarreras"
                [value]="carrera.id"
                value="carrera.id"
              >
                {{ carrera.nombrecarreras }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="container">
        <div class="form-group col-md-6" style="width: auto">
          <label for="idempresa">Seleccionar Empresa</label>
          <select
            required
            class="form-control"
            name="idempresa"
            id="idempresa"
            [(ngModel)]="convenio.idempresa"
          >
            <option value="" hidden selected>Seleccionar Empresa</option>
            <option *ngFor="let empresa of listempresa" [value]="empresa.id">
              {{ empresa.nombreempresa }}
            </option>
          </select>
          <div class="text text-danger" [hidden]="!error.idempresa">
            {{ error.idempresa }}
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group col-md-12">
          <label for="exampleFormControlInput1">Tipo de Convenio</label>
          <input
            minlength="10"
            maxlength="50"
            required
            type="text"
            class="form-control"
            name="tipo_convenio"
            id="tipo_convenio"
            #tipo="ngModel"
            [(ngModel)]="convenio.tipo_convenio"
            placeholder="Gestion de Redes, Laborales 1, etc"
          />
          <div class="text text-danger" [hidden]="!error.tipo_convenio">
            {{ error.tipo_convenio }}
          </div>
          <div
            *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)"
            class="text text-danger"
            ng-show="!tipo"
          >
            <div *ngIf="tipo.errors.required" class="container-error-message">
              Este campo es requerido
            </div>
            <div *ngIf="tipo.errors.minlength" class="container-error-message">
              Longitud de cadena inválida
            </div>
            <div *ngIf="tipo.errors.maxlength" class="container-error-message">
              Longitud de cadena inválida
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group col-md-6">
          <label for="inputDireccion">Fecha de Inicio</label>
          <input
            required
            type="date"
            class="form-control"
            name="fecha_inicio"
            id="fecha_inicio"
            #fecha="ngModel"
            [(ngModel)]="convenio.fecha_inicio"
          />
          <div class="text text-danger" [hidden]="!error.fecha_inicio">
            {{ error.fecha_inicio }}
          </div>
          <div
            *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)"
            class="text text-danger"
            ng-show="!fecha"
          >
            <div *ngIf="fecha.errors.required" class="container-error-message">
              Este campo es requerido
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputDireccion">Fecha de Culminación</label>
          <input
            minlength="1"
            maxlength="7"
            type="text"
            class="form-control"
            name="fecha_culminacion"
            id="fecha_culminacion"
            #culminacion="ngModel"
            [(ngModel)]="convenio.fecha_culminacion"
            required
          />
          <div class="text text-danger" [hidden]="!error.fecha_culminacion">
            {{ error.fecha_culminacion }}
          </div>
          <div
            *ngIf="
              culminacion.invalid && (culminacion.dirty || culminacion.touched)
            "
            class="text text-danger"
            ng-show="!culminacion"
          >
            <div
              *ngIf="culminacion.errors.required"
              class="container-error-message"
            >
              Este campo es requerido
            </div>
            <div
              *ngIf="culminacion.errors.minlength"
              class="container-error-message"
            >
              Longitud de cadena inválida
            </div>
            <div
              *ngIf="culminacion.errors.maxlength"
              class="container-error-message"
            >
              Longitud de cadena inválida
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group col-md-12">
          <label for="exampleFormControlInput1">Objeto</label>
          <input
            minlength="20"
            maxlength="100"
            required
            type="text"
            class="form-control"
            name="objeto"
            id="objeto"
            #objeto="ngModel"
            [(ngModel)]="convenio.objeto"
            placeholder="Gestion de Redes, Laborales 1, etc"
          />
          <div class="text text-danger" [hidden]="!error.objeto">
            {{ error.objeto }}
          </div>
          <div
            *ngIf="objeto.invalid && (objeto.dirty || objeto.touched)"
            class="text text-danger"
            ng-show="!objeto"
          >
            <div *ngIf="objeto.errors.required" class="container-error-message">
              Este campo es requerido
            </div>
            <div
              *ngIf="objeto.errors.minlength"
              class="container-error-message"
            >
              Longitud de cadena inválida
            </div>
            <div
              *ngIf="objeto.errors.maxlength"
              class="container-error-message"
            >
              Longitud de cadena inválida
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-refresh">&nbsp;</span>
            <b> Actualizar Convenio</b>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
