<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header" style="text-align: center">MENU DE GESTIÓN</li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Prácticas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a
              [routerLink]="'/principal/list-practicas-profesionales'"
              class="nav-link"
              ><i class="fa fa-graduation-cap"></i>
              <span>Prácticas Pre-Profesionales</span></a
            >
          </li>
          <li>
            <a [routerLink]="'/principal/list-pasantias'" class="nav-link"
              ><i class="fa fa-money"></i> <span>Pasantías</span></a
            >
          </li>
          <li>
            <a [routerLink]="'/principal/list-proyecto'" class="nav-link"
              ><i class="fa fa-puzzle-piece"></i> <span>Proyecto Macro</span></a
            >
          </li>
          <li *ngIf="userCarrera == 'Computación'">
            <a [routerLink]="'/principal/list-proyecto_3ero'" class="nav-link"
              ><i class="fa fa-puzzle-piece"></i>
              <span>Proyecto Ficticio 3er ciclo</span></a
            >
          </li>
        </ul>
      </li>
      <li>
        <a [routerLink]="'/principal/list-convenio'" class="nav-link"
          ><i class="fa fa-handshake-o"></i> <span>Convenios</span></a
        >
      </li>
      <li>
        <a [routerLink]="'/principal/list-areas'" class="nav-link"
          ><i class="fa fa-share-alt"></i> <span>Áreas</span></a
        >
      </li>
      <li class="header" style="text-align: center">POSTULACIONES</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Pract. Pre-Profesionales</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="'/principal/practicas_nuevas'" class="nav-link"
              ><i class="fa fa-clock-o" aria-hidden="true"></i>
              <span>Nuevas</span>
              <span class="pull-right-container">
                <span class="label label-warning pull-right">{{
                  contpracticas
                }}</span>
              </span></a
            >
          </li>
          <li>
            <a [routerLink]="'/principal/practicas_aprobadas'" class="nav-link"
              ><i class="fa fa-check-square-o" aria-hidden="true"></i>
              <span>Aprobadas</span></a
            >
          </li>
          <li>
            <a [routerLink]="'/principal/practicas_rechazadas'" class="nav-link"
              ><i class="fa fa-times" aria-hidden="true"></i>
              <span>Rechazadas</span></a
            >
          </li>
          <li>
            <a
              [routerLink]="'/principal/practicas_finalizadas'"
              class="nav-link"
              ><i class="fa fa-puzzle-piece"></i> <span>Finalizadas</span></a
            >
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Pasantías</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="'/principal/pasantias_nuevas'" class="nav-link"
              ><i class="fa fa-clock-o" aria-hidden="true"></i>
              <span>Nuevas</span>
              <span class="pull-right-container">
                <span class="label label-warning pull-right">{{
                  contpasantias
                }}</span>
              </span></a
            >
          </li>
          <li>
            <a [routerLink]="'/principal/pasantias_aprobadas'" class="nav-link"
              ><i class="fa fa-check-square-o" aria-hidden="true"></i>
              <span>Aprobadas</span></a
            >
          </li>
          <li>
            <a [routerLink]="'/principal/pasantias_rechazadas'" class="nav-link"
              ><i class="fa fa-times" aria-hidden="true"></i>
              <span>Rechazadas</span></a
            >
          </li>
          <li>
            <a
              [routerLink]="'/principal/pasantias_finalizadas'"
              class="nav-link"
              ><i class="fa fa-puzzle-piece"></i> <span>Finalizadas</span></a
            >
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Proyectos Macro</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="'/principal/proyectos_nuevos'" class="nav-link"
              ><i class="fa fa-clock-o" aria-hidden="true"></i>
              <span>Nuevas</span>
              <span class="pull-right-container">
                <span class="label label-warning pull-right">{{
                  contproyectos
                }}</span>
              </span></a
            >
          </li>
          <li>
            <a [routerLink]="'/principal/proyectos_aprobados'" class="nav-link"
              ><i class="fa fa-check-square-o" aria-hidden="true"></i>
              <span>Aprobadas</span></a
            >
          </li>
          <li>
            <a [routerLink]="'/principal/proyectos_rechazados'" class="nav-link"
              ><i class="fa fa-times" aria-hidden="true"></i>
              <span>Rechazadas</span></a
            >
          </li>
          <li>
            <a
              [routerLink]="'/principal/proyectos_finalizados'"
              class="nav-link"
              ><i class="fa fa-puzzle-piece"></i> <span>Finalizadas</span></a
            >
          </li>
        </ul>
      </li>
      <li *ngIf="userCarrera == 'Computación'" class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Proyectos 3ero</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="'/principal/proyecto_3ero-nuevos'" class="nav-link"
              ><i class="fa fa-clock-o" aria-hidden="true"></i>
              <span>Nuevas</span>
              <span class="pull-right-container">
                <span class="label label-warning pull-right">{{
                  contproyectos
                }}</span>
              </span></a
            >
          </li>
          <li>
            <a
              [routerLink]="'/principal/proyecto_3ero-aprobados'"
              class="nav-link"
              ><i class="fa fa-check-square-o" aria-hidden="true"></i>
              <span>Aprobadas</span></a
            >
          </li>
          <li>
            <a
              [routerLink]="'/principal/proyecto_3ero-rechazados'"
              class="nav-link"
              ><i class="fa fa-times" aria-hidden="true"></i>
              <span>Rechazadas</span></a
            >
          </li>
          <li>
            <a
              [routerLink]="'/principal/proyecto_3ero-finalizados'"
              class="nav-link"
              ><i class="fa fa-puzzle-piece"></i> <span>Finalizadas</span></a
            >
          </li>
        </ul>
      </li>
      <li *ngIf="role == 'admin'" class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Administrador</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="'/principal/list-user'" class="nav-link"
              ><i class="fa fa-user"></i> Usuarios</a
            >
          </li>

          <li>
            <a [routerLink]="'/principal/list-carreras'" class="nav-link"
              ><i class="fa fa-share-alt"></i> <span>Carreras</span></a
            >
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
