<div class="container_p">
  <div class="titulo">
    <h1><b>Formulario de Edición de Proyectos Básicos</b></h1>
  </div>
  <button class="btn btn-danger" (click)="volver_lista()">
    <span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Volver</button
  >&nbsp;&nbsp;&nbsp;
  <br />
  <br />
  <div class="container">
    <form (ngSubmit)="put(formBasico)" #formBasico="ngForm">
      <div class="container">
        <div class="form-group col-md-6" style="width: auto">
          <label for="id">Proyecto Macro Seleccionado</label>
          <select
            required
            disabled
            class="form-control"
            name="idmacro"
            id="idmacro"
            [(ngModel)]="basico.idmacro"
          >
            <option
              *ngFor="let macro of listmacro"
              [value]="macro.id"
              value="macro.id"
            >
              {{ macro.nombre_prmacro }}
            </option>
          </select>
        </div>
      </div>

      <div class="container">
        <div class="form-group col-md-6" style="width: auto">
          <label for="idempresa">Seleccionar Empresa</label>
          <select
            required
            class="form-control"
            name="idempresa"
            id="idempresa"
            [(ngModel)]="basico.idempresa"
          >
            <option value="" hidden selected>Seleccionar Empresa</option>
            <option
              *ngFor="let convenio of listconvenios"
              [value]="convenio.idempresa"
            >
              {{ convenio.nombreempresa }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <input
          type="hidden"
          class="form-control"
          name="idmacro"
          id="idmacro"
          [(ngModel)]="basico.idmacro"
          [value]="basico.id"
        />
      </div>
      <div class="container">
        <div class="form-group col-md-12">
          <label for="inputNombre">Nombre de Proyecto Básico</label>
          <input
            minlength="10"
            maxlength="100"
            required
            type="text"
            class="form-control"
            name="nombre_prbasico"
            id="nombre_prbasico"
            #nombre_basico="ngModel"
            [(ngModel)]="basico.nombre_prbasico"
          />
          <div class="text text-danger" [hidden]="!error.nombre_prbasico">
            {{ error.nombre_prbasico }}
          </div>
          <div
            *ngIf="
              nombre_basico.invalid &&
              (nombre_basico.dirty || nombre_basico.touched)
            "
            class="text text-danger"
            ng-show="!nombre_basico"
          >
            <div
              *ngIf="nombre_basico.errors.required"
              class="container-error-message"
            >
              Este campo es requerido
            </div>
            <div
              *ngIf="nombre_basico.errors.minlength"
              class="container-error-message"
            >
              Longitud de cadena inválida
            </div>
            <div
              *ngIf="nombre_basico.errors.maxlength"
              class="container-error-message"
            >
              Longitud de cadena inválida
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div
          [(ngModel)]="basico.modalidad"
          name="modalidad"
          id="modalidad"
          class="form-group col-md-6"
        >
          <label for="exampleFormControlInput1"
            >Modalidad de Proyecto<label style="color: #a94442">
              *</label
            ></label
          >
          <br />
          <input
            required
            value="TeleTrabajo"
            style="margin: 5px"
            type="radio"
            name="sexo"
            id="modalidad"
            [(ngModel)]="basico.modalidad"
          />
          <label for="modalidad">TeleTrabajo</label>

          <input
            value="Presencial"
            style="margin: 5px"
            type="radio"
            name="sexo"
            id="modalidad"
            [(ngModel)]="basico.modalidad"
          />
          <label for="modalidad">Presencial</label>
          <br />
        </div>
      </div>
      <div class="container">
        <div class="form-group col-md-6">
          <label for="inputNombre">Estudiantes Requeridos</label>
          <input
            pattern="^[0-9]+"
            required
            min="1"
            type="number"
            class="form-control"
            name="estudianes_requeridos"
            id="estudianes_requeridos"
            #cupos="ngModel"
            [(ngModel)]="basico.estudianes_requeridos"
          />
          <div class="text text-danger" [hidden]="!error.estudianes_requeridos">
            {{ "Campo Invalido" }}
          </div>
          <div
            *ngIf="cupos.invalid && (cupos.dirty || cupos.touched)"
            class="text text-danger"
            ng-show="!cupos"
          >
            <div *ngIf="cupos.errors.required" class="container-error-message">
              Este campo es requerido
            </div>
          </div>
          <div
            class="text text-danger"
            *ngIf="
              (cupos.dirty || cupos.touched) &&
              cupos.invalid &&
              cupos.errors.pattern
            "
          >
            Solo Valores positivos
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputNombre">Horas Totales a Cumplir</label>
          <input
            pattern="^[0-9]+"
            min="1"
            type="number"
            class="form-control"
            name="horas_cumplir"
            id="horas_cumplir"
            #horas_cumplir="ngModel"
            [(ngModel)]="basico.horas_cumplir"
            required
          />
          <div class="text text-danger" [hidden]="!error.horas_cumplir">
            {{ "Campo Invalido" }}
          </div>
          <div
            *ngIf="
              horas_cumplir.invalid &&
              (horas_cumplir.dirty || horas_cumplir.touched)
            "
            class="text text-danger"
            ng-show="!horas_cumplir"
          >
            <div
              *ngIf="horas_cumplir.errors.required"
              class="container-error-message"
            >
              Este campo es requerido
            </div>
          </div>
          <div
            class="text text-danger"
            *ngIf="
              (horas_cumplir.dirty || horas_cumplir.touched) &&
              horas_cumplir.invalid &&
              horas_cumplir.errors.pattern
            "
          >
            Solo Valores positivos
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group col-md-4">
          <label for="inputDireccion">Fecha de Inicio</label>
          <input
            required
            type="date"
            class="form-control"
            name="fecha_inicio"
            id="fecha_inicio"
            #fecha="ngModel"
            (change)="validarfecha($event)"
            [(ngModel)]="basico.fecha_inicio"
          />
          <div class="text text-danger" [hidden]="!error.fecha_inicio">
            {{ error.fecha_inicio }}
          </div>
          <div
            *ngIf="!validador && (fecha.dirty || fecha.touched)"
            class="text text-danger"
          >
            Fecha Inválida
          </div>
          <div
            *ngIf="!validador3 && (fecha.dirty || fecha.touched)"
            class="text text-danger"
          >
            Fecha de Inicio es mayor a la Fecha de Finalización
          </div>
          <div
            *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)"
            class="text text-danger"
            ng-show="!fecha"
          >
            <div *ngIf="fecha.errors.required" class="container-error-message">
              Este campo es requerido
            </div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputDireccion">Fecha de Finalización</label>
          <input
            type="date"
            class="form-control"
            name="fecha_fin"
            id="fecha_fin"
            #fecha_fin="ngModel"
            (change)="validarfechafinalizacion($event)"
            [(ngModel)]="basico.fecha_fin"
          />
          <div
            *ngIf="!validador2 && (fecha_fin.dirty || fecha_fin.touched)"
            class="text text-danger"
          >
            Fecha de Finalización debe ser mayor a Fecha de Inicio
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputNombre">Ciclo para realizar Proyecto</label>
          <input
            minlength="3"
            maxlength="20"
            type="text"
            class="form-control"
            name="ciclo"
            id="ciclo"
            #ciclo="ngModel"
            [(ngModel)]="basico.ciclo"
          />
          <div class="text text-danger" [hidden]="!error.ciclo">
            {{ error.ciclo }}
          </div>
          <div
            *ngIf="ciclo.invalid && (ciclo.dirty || ciclo.touched)"
            class="text text-danger"
            ng-show="!ciclo"
          >
            <div *ngIf="ciclo.errors.minlength" class="container-error-message">
              Longitud de cadena inválida
            </div>
            <div *ngIf="ciclo.errors.maxlength" class="container-error-message">
              Longitud de cadena inválida
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group col-md-6">
          <label for="exampleFormControlTextarea1">Requerimientos</label>
          <textarea
            minlength="20"
            maxlength="250"
            class="form-control"
            id="requerimientos"
            name="requerimientos"
            #requerimientos="ngModel"
            [(ngModel)]="basico.requerimientos"
            rows="3"
          ></textarea>
          <div class="text text-danger" [hidden]="!error.requerimientos">
            {{ error.requerimientos }}
          </div>
          <div
            *ngIf="
              requerimientos.invalid &&
              (requerimientos.dirty || requerimientos.touched)
            "
            class="text text-danger"
            ng-show="!requerimientos"
          >
            <div
              *ngIf="requerimientos.errors.minlength"
              class="container-error-message"
            >
              Longitud de cadena inválida
            </div>
            <div
              *ngIf="requerimientos.errors.maxlength"
              class="container-error-message"
            >
              Longitud de cadena inválida
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="exampleFormControlTextarea1"
            >Descripción de Actividades a realizar</label
          >
          <textarea
            minlength="20"
            maxlength="200"
            class="form-control"
            id="actividades"
            name="actividades"
            #actividades="ngModel"
            [(ngModel)]="basico.actividades"
            rows="3"
          ></textarea>
          <div class="text text-danger" [hidden]="!error.actividades">
            {{ error.actividades }}
          </div>
          <div
            *ngIf="
              actividades.invalid && (actividades.dirty || actividades.touched)
            "
            class="text text-danger"
            ng-show="!actividades"
          >
            <div
              *ngIf="actividades.errors.minlength"
              class="container-error-message"
            >
              Longitud de cadena inválida
            </div>
            <div
              *ngIf="actividades.errors.maxlength"
              class="container-error-message"
            >
              Longitud de cadena inválida
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-refresh">&nbsp;</span>
            <b> Actualizar Proyecto Básico</b>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
