<div class="container_p">
  <form>
    <div class="titulo">
      <h1><b>Formulario de Ingreso para Proyectos Basicos</b></h1>
    </div>
    <button class="btn btn-danger" (click)="volver_lista()">
      <span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Volver</button
    >&nbsp;&nbsp;&nbsp;
    <br />
    <br />
    <div class="container">
      <form [formGroup]="validarForm" (ngSubmit)="onSubmit()">
        <div class="container">
          <div class="form-group col-md-6" style="width: auto">
            <form class="form-inline">
              <div class="form-group">
                <label for="id">Proyecto Macro Seleccionado</label>
                <form class="form-inline">
                  <div class="form-group mx-sm-3 mb-2">
                    <select
                      disabled
                      required
                      class="form-control"
                      name="id"
                      id="id"
                      [(ngModel)]="macro.id"
                    >
                      <option
                        *ngFor="let macro of listmacro"
                        [ngValue]="macro.id"
                        value="macro.id"
                      >
                        {{ macro.nombre_prmacro }}
                      </option>
                    </select>
                  </div>
                </form>
              </div>
            </form>
          </div>
        </div>

        <div class="container">
          <div class="form-group col-md-6" style="width: auto">
            <label for="idempresa">Seleccionar Empresa</label>
            <select
              required
              class="form-control"
              (change)="selectChangeEmpresa($event)"
              formControlName="idempresa"
            >
              <option value="" hidden selected>Seleccionar Empresa</option>
              <option
                *ngFor="let empresa of listempresa"
                [ngValue]="empresa.id"
              >
                {{ empresa.nombreempresa }}
              </option>
            </select>
            <div
              *ngIf="
                idempresa.invalid && (idempresa.dirty || idempresa.touched)
              "
              class="text text-danger"
            >
              <div
                *ngIf="idempresa.errors.required"
                class="container-error-message"
              >
                Este campo es requerido
              </div>
            </div>
          </div>
        </div>
        <form [formGroup]="validarForm">
          <div class="form-group">
            <input
              type="hidden"
              class="form-control"
              name="idmacro"
              id="idmacro"
              formControlName="idmacro"
              [value]="macro.id"
            />
          </div>
          <div class="container">
            <div class="form-group col-md-12">
              <label for="inputNombre">Nombre de Proyecto Basico</label>
              <input
                required
                minlength="20"
                maxlength="100"
                type="text"
                class="form-control"
                name="nombre_prbasico"
                id="nombre_prbasico"
                formControlName="nombre_prbasico"
                placeholder="Ej. Minería de Datos en la toma de decisiones inteligentes en la empresa Zerimar. "
              />
              <div
                *ngIf="nonbre.invalid && (nonbre.dirty || nonbre.touched)"
                class="text text-danger"
                ng-show="!nonbre"
              >
                <div
                  *ngIf="nonbre.errors.minlength"
                  class="container-error-message"
                >
                  Longitud de cadena invalida
                </div>
                <div
                  *ngIf="nonbre.errors.maxlength"
                  class="container-error-message"
                >
                  Longitud de cadena invalida
                </div>
              </div>
              <div
                *ngIf="nonbre.invalid && (nonbre.dirty || nonbre.touched)"
                class="text text-danger"
              >
                <div
                  *ngIf="nonbre.errors.required"
                  class="container-error-message"
                >
                  Este campo es requerido
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="form-group col-md-6">
              <label for="inputNombre">Estudiantes Requeridos</label>
              <input
                required
                pattern="^[0-9]+"
                type="number"
                min="1"
                class="form-control"
                name="estudianes_requeridos"
                id="estudianes_requeridos"
                formControlName="estudianes_requeridos"
                placeholder="Ej. 5"
              />
              <div
                class="text text-danger"
                *ngIf="
                  (estudiantes.dirty || estudiantes.touched) &&
                  estudiantes.invalid &&
                  estudiantes.errors.pattern
                "
              >
                Solo Valores positivos
              </div>
              <div
                *ngIf="
                  estudiantes.invalid &&
                  (estudiantes.dirty || estudiantes.touched)
                "
                class="text text-danger"
              >
                <div
                  *ngIf="estudiantes.errors.required"
                  class="container-error-message"
                >
                  Este campo es requerido
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputNombre">Horas Totales a Cumplir</label>
              <input
                pattern="^[0-9]+"
                type="number"
                min="1"
                class="form-control"
                name="horas_cumplir"
                id="horas_cumplir"
                formControlName="horas_cumplir"
                placeholder="Ej. 180"
              />
              <div
                class="text text-danger"
                *ngIf="
                  (horastotales.dirty || horastotales.touched) &&
                  horastotales.invalid &&
                  horastotales.errors.pattern
                "
              >
                Solo Valores positivos
              </div>
            </div>
          </div>
          <div class="container">
            <div class="form-group col-md-4">
              <label for="inputDireccion">Fecha de Inicio</label>
              <input
                required
                type="date"
                class="form-control"
                name="fecha_inicio"
                id="fecha_inicio"
                (change)="validarfecha($event)"
                formControlName="fecha_inicio"
              />
              <div
                *ngIf="
                  !validador && (fecha_inicio.dirty || fecha_inicio.touched)
                "
                class="text text-danger"
              >
                Fecha Invalida
              </div>
              <div
                *ngIf="
                  fecha_inicio.invalid &&
                  (fecha_inicio.dirty || fecha_inicio.touched)
                "
                class="text text-danger"
              >
                <div
                  *ngIf="fecha_inicio.errors.required"
                  class="container-error-message"
                >
                  Este campo es requerido
                </div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="inputDireccion">Fecha de Finalizacion</label>
              <input
                type="date"
                class="form-control"
                name="fecha_fin"
                id="fecha_fin"
                formControlName="fecha_fin"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="inputNombre">Ciclo para realizar Proyecto</label>
              <input
                type="text"
                class="form-control"
                name="ciclo"
                id="ciclo"
                formControlName="ciclo"
              />
            </div>
          </div>
          <div class="container">
            <div class="form-group col-md-6">
              <label for="exampleFormControlTextarea1">Requerimientos</label>
              <textarea
                class="form-control"
                id="requerimientos"
                name="requerimientos"
                formControlName="requerimientos"
                rows="3"
              ></textarea>
              <div
                *ngIf="
                  requerimientos.invalid &&
                  (requerimientos.dirty || requerimientos.touched)
                "
                class="text text-danger"
                ng-show="!requerimientos"
              >
                <div
                  *ngIf="requerimientos.errors.minlength"
                  class="container-error-message"
                >
                  Longitud de cadena invalida
                </div>
                <div
                  *ngIf="requerimientos.errors.maxlength"
                  class="container-error-message"
                >
                  Longitud de cadena invalida
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="exampleFormControlTextarea1"
                >Descripcion de Actividades a realizar</label
              >
              <textarea
                class="form-control"
                id="actividades"
                name="actividades"
                formControlName="actividades"
                rows="3"
              ></textarea>
              <div
                *ngIf="
                  actividades.invalid &&
                  (actividades.dirty || actividades.touched)
                "
                class="text text-danger"
                ng-show="!actividades"
              >
                <div
                  *ngIf="actividades.errors.minlength"
                  class="container-error-message"
                >
                  Longitud de cadena invalida
                </div>
                <div
                  *ngIf="actividades.errors.maxlength"
                  class="container-error-message"
                >
                  Longitud de cadena invalida
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="container">
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-floppy-saved">&nbsp;</span>
              <b>Registrar Proyecto Basico</b>
            </button>
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;
      </form>
    </div>
  </form>
</div>
