<div class="register-box">
  <div class="register-logo">
    <a><b style="font-size: 27px">Registro de Usuario</b></a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Formulario de Registro</p>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
      <div class="form-group has-feedback">
        <input
          class="form-control"
          placeholder="Cédula"
          type="text"
          value=""
          name="cedula"
          id="cedula"
          [(ngModel)]="form.cedula"
          (change)="validadorDeCedula(form.cedula)"
          #cedula="ngModel"
          maxlength="10"
          required
        />
        <div
          *ngIf="!validador && (cedula.touched)"
          class="text text-danger"
          >Cedula Invalida</div
        >
        <div class="text text-danger" [hidden]="!error.cedula">
          {{ error.cedula }}
        </div>
      </div>
      <div class="form-group has-feedback">
        <input
          minlength="15"
          maxlength="80"
          class="form-control"
          placeholder="Nombres Completos"
          type="text"
          name="nombre_completo"
          id="inputnombre_completo"
          #nombre_completo="ngModel"
          [(ngModel)]="form.nombre_completo"
          required
        />
        <div
          *ngIf="
            nombre_completo.invalid &&
            (nombre_completo.dirty || nombre_completo.touched)
          "
          class="text text-danger"
        >
          <div *ngIf="nombre_completo.errors.required" class="text text-danger">
            Este campo es requerido
          </div>
          <div
            *ngIf="nombre_completo.errors.maxlength"
            class="text text-danger"
          >
            Longitud de cadena invalida
          </div>
          <div
            *ngIf="nombre_completo.errors.minlength"
            class="container-error-message"
          >
            Longitud de cadena invalida
          </div>
        </div>

        <div class="text text-danger" [hidden]="!error.nombre_competo">
          {{ error }}
        </div>
      </div>
      <div class="form-group has-feedback">
        <input
          class="form-control"
          placeholder="Correo Electrónico"
          type="email"
          name="email"
          id="inputemail"
          [(ngModel)]="form.email"
          required
        />
        <div class="text text-danger" [hidden]="!error.email">
          {{ error.email }}
        </div>
      </div>
      <div class="form-group has-feedback">
        <input
          minlength="5"
          maxlength="15"
          class="form-control"
          placeholder="Contraseña"
          type="password"
          name="password"
          id="inputpassword"
          #password="ngModel"
          [(ngModel)]="form.password"
          required
        />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="text text-danger"
        >
          <div *ngIf="password.errors.required" class="text text-danger">
            Este campo es requerido
          </div>
          <div *ngIf="password.errors.maxlength" class="text text-danger">
            Longitud de cadena invalida
          </div>
          <div
            *ngIf="password.errors.minlength"
            class="container-error-message"
          >
            Longitud de cadena invalida
          </div>
        </div>
        <div class="text text-danger" [hidden]="!error.password">
          {{ error.password }}
        </div>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input
          class="form-control"
          placeholder="Confirmar Contraseña"
          type="password"
          name="password_confirmation"
          id="inputPassword3"
          [(ngModel)]="form.password_confirmation"
          required
        />
        <span class="glyphicon glyphicon-eye-open form-control-feedback"></span>
      </div>

      <div for="idcarrera" class="form-group has-feedback">
        <select
          class="form-control"
          name="idcarrera"
          id="idcarrera"
          [(ngModel)]="form.idcarrera"
          required
        >
        <option value="" hidden selected>Seleccione su Carrera</option>
          <option
            selected
            *ngFor="let carrera of listcarreras"
            [value]="carrera.id"
          >
            {{ carrera.nombrecarreras }}
          </option>
        </select>
      </div>

      <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
          <button class="btn btn-primary btn-block btn-flat" type="submit">
            <b>REGISTRARME</b>
          </button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a [routerLink]="'/login/'" class="text-center">Tengo una cuenta</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
