<div class="login-box">
  <div class="login-logo">
    <a>
      <b style="font-size: 27px;"
        >Sistema de Gestión de Cupos
      </b></a
    >
  </div>
  <!-- /.login-logo -->
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="login-box-body">
      <p class="login-box-msg">Inicia Sesión para comenzar</p>
      <div style="text-align: center;" class="alert alert-danger" [hidden]="!prueba">
        {{ prueba }}
      </div>
      <div class="form-group has-feedback">
        <input
          class="form-control"
          placeholder="Correo Electrónico"
          type="email"
          id="inputEmail3"
          name="email"
          [(ngModel)]="form.email"
          required
        />
      
        <span
            class="glyphicon glyphicon-envelope form-control-feedback"
          ></span>
      </div>

     
      <div class="form-group has-feedback">
        <input
          class="form-control"
          placeholder="Contraseña"
          type="password"
          id="inputPassword3"
          name="password"
          [(ngModel)]="form.password"
          required
        />
       
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div  class="row">
        
        <!-- /.col -->
        <div class="col-md-12">
          <button
            type="submit"
            [disabled]="!loginForm.valid"
            class="btn btn-primary btn-block btn-flat col-md-4"
          >
            <b>INICIAR SESIÓN</b>
          </button>
        </div>
        <!-- /.col -->
      </div>

      <a [routerLink]="'/request-password-reset'">Olvide mi contraseña</a><br />
      <a [routerLink]="'/login/register'" class="text-center">Registrarme</a>
    </div>
  </form>

  <!-- /.login-box-body -->
</div>

<!-- /.login-box -->
