<div class="container_p">
  <h1>
    <b>Edición de Areas para Practicas Pre-Profesionales o Pasantias</b>
  </h1>
  <button class="btn btn-danger" (click)="volver_lista()">
    <span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Volver</button
  >&nbsp;&nbsp;&nbsp;
  <br />
  <br />
  <div class="container">
    <form (ngSubmit)="put(formArea)" #formArea="ngForm">
      <div class="form-group" style="display: none">
        <label for="idcarrera">Seleccionar Carrera</label>
        <select
          disabled
          class="form-control"
          name="idcarrera"
          id="idcarrera"
          [(ngModel)]="area.idcarrera"
        >
          <option
            *ngFor="let carrera of listcarreras"
            [ngValue]="carrera.id"
            value="carrera.id"
          >
            {{ carrera.nombrecarreras }}
          </option>
        </select>
      </div>
      <div class="container">
        <div class="form-group col-md-12">
          <label for="nombrearea">Nombre de Area</label>
          <input
            minlength="20"
            maxlength="50"
            autocomplete="off"
            [(ngModel)]="area.nombrearea"
            placeholder="Nombre Completo"
            #nombre_area="ngModel"
            name="nombrearea"
            class="form-control"
            id="nombrearea"
            required
          />
          <div class="alert-danger" [hidden]="!prueba">
            {{ "Este nombre ya esta en uso" }}
          </div>
          <div
            *ngIf="
              nombre_area.invalid && (nombre_area.dirty || nombre_area.touched)
            "
            class="alert-danger"
            ng-show="!nombre_area"
          >
            <div
              *ngIf="nombre_area.errors.required"
              class="container-error-message"
            >
              Este campo es requerido
            </div>
            <div
              *ngIf="nombre_area.errors.minlength"
              class="container-error-message"
            >
              Longitud de cadena invalida
            </div>
            <div
              *ngIf="nombre_area.errors.maxlength"
              class="container-error-message"
            >
              Longitud de cadena invalida
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-refresh">&nbsp;</span>
            <b> Actualizar Area</b>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
