<div class="container_p">
  <form>
    <div class="titulo">
      <h1><b>Formulario de Ingreso para Proyectos Macro</b></h1>
    </div>
    <button class="btn btn-danger" (click)="volver_lista()">
      <span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Volver</button
    >&nbsp;&nbsp;&nbsp;
    <br />
    <br />
    <div class="container">
      <form [formGroup]="validarForm" (ngSubmit)="onSubmit()">
        <div class="container">
          <div class="form-group col-md-12" style="width: auto">
            <label for="idcarrera">Seleccionar Carrera</label>
            <select
              required
              class="form-control"
              (change)="selectChangeCarrera($event)"
              formControlName="idcarrera"
            >
              <option value="" hidden selected>Seleccionar Carrera</option>
              <option
                *ngFor="let carrera of listcarreras"
                [ngValue]="carrera.id"
              >
                {{ carrera.nombrecarreras }}
              </option>
            </select>
            <div
              *ngIf="
                idcarrera.invalid && (idcarrera.dirty || idcarrera.touched)
              "
              class="alert-danger"
            >
              <div
                *ngIf="idcarrera.errors.required"
                class="container-error-message"
              >
                Este campo es requerido
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="form-group col-md-12" style="width: auto">
            <label for="idarea">Seleccionar Area</label>
            <select
              required
              class="form-control"
              (change)="selectChangeArea($event)"
              formControlName="idarea"
            >
              <option value="" hidden selected>Seleccionar Area</option>
              <option *ngFor="let area of listarea" [ngValue]="area.id">
                {{ area.nombrearea }}
              </option>
            </select>
            <div
              *ngIf="idarea.invalid && (idarea.dirty || idarea.touched)"
              class="alert-danger"
            >
              <div
                *ngIf="idarea.errors.required"
                class="container-error-message"
              >
                Este campo es requerido
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="form-group col-md-12">
            <label for="inputNombre">Nombre de Proyecto Macro</label>
            <input
              type="text"
              class="form-control"
              name="nombre_prmacro"
              id="nombre_prmacro"
              formControlName="nombre_prmacro"
            />
            <div
              *ngIf="
                nombreprmacro.invalid &&
                (nombreprmacro.dirty || nombreprmacro.touched)
              "
              class="alert-danger"
              ng-show="!nombre_prmacro"
            >
              <div
                *ngIf="nombreprmacro.errors.required"
                class="container-error-message"
              >
                Este campo es requerido
              </div>

              <div
                *ngIf="nombreprmacro.errors.minlength"
                class="container-error-message"
              >
                Longitud de cadena invalida
              </div>
              <div
                *ngIf="nombreprmacro.errors.maxlength"
                class="container-error-message"
              >
                Longitud de cadena invalida
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="form-group col-md-12">
            <label for="inputNombre">Nombre de Encargado del Proyecto</label>
            <input
              type="text"
              class="form-control"
              name="encargado"
              id="encargado"
              formControlName="encargado"
            />
            <div
              *ngIf="
                encargado.invalid && (encargado.dirty || encargado.touched)
              "
              class="alert-danger"
              ng-show="!encargado"
            >
              <div
                *ngIf="encargado.errors.required"
                class="container-error-message"
              >
                Este campo es requerido
              </div>

              <div
                *ngIf="encargado.errors.minlength"
                class="container-error-message"
              >
                Longitud de cadena invalida
              </div>
              <div
                *ngIf="encargado.errors.maxlength"
                class="container-error-message"
              >
                Longitud de cadena invalida
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div style="margin-left: initial" class="form-row">
            <div class="form-group col-md-12">
              <label for="exampleFormControlTextarea1">Descripcion</label>
              <textarea
                class="form-control"
                id="descripcion"
                name="descripcion"
                formControlName="descripcion"
                rows="3"
              ></textarea>
              <div
                *ngIf="
                  descripcion.invalid &&
                  (descripcion.dirty || descripcion.touched)
                "
                class="alert-danger"
                ng-show="!nombreempresa"
              >
                <div
                  *ngIf="descripcion.errors.minlength"
                  class="container-error-message"
                >
                  Longitud de cadena invalida
                </div>
                <div
                  *ngIf="descripcion.errors.maxlength"
                  class="container-error-message"
                >
                  Longitud de cadena invalida
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-floppy-saved">&nbsp;</span>
              <b>Registrar Proyecto Macro</b>
            </button>
          </div>
        </div>
      </form>
    </div>
  </form>
</div>
