.container_p {
    padding: 25px;
    width: auto;
    margin-left: initial;
  }
  .container {
    width: auto;
    margin-left: initial;
  } 
  mat-card{
    background-color:transparent;
  }
  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  