<div class="container_p">
  <form>
    <div class="titulo">
      <h1><b>Ingreso de Convenios para Pre-Profesionales o Pasantias</b></h1>
    </div>
    <button class="btn btn-danger" (click)="volver_lista()">Volver</button
    >&nbsp;&nbsp;&nbsp;
    <br />
    <br />
    <div class="container">
      <mat-card>
        <mat-card-title>Datos</mat-card-title>

        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Seleccionar Carrera</label>
            <form class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Password</label>
                <select
                  style="margin: 7px; width: 400px;"
                  class="form-control"
                  id="exampleFormControlSelect1"
                >
                  <option>Ingenieria en Sistemas</option>
                </select>
              </div>
              <button
                [routerLink]="'/principal/add-carreras'"
                type="submit"
                class="btn btn-primary mb-2"
                style="background-color: green;"
              >
                Nueva Carrera
              </button>
            </form>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Seleccionar Empresa</label>
            <form class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Password</label>
                <select
                  style="margin: 7px; width: 400px;"
                  class="form-control"
                  id="exampleFormControlSelect1"
                >
                  <option>-- Seleccionar Empresa --</option>
                  <option>{{ "Ingenieria en Sistemas" }}</option>
                </select>
              </div>
              <button
                [routerLink]="'/principal/add-empresas'"
                type="submit"
                class="btn btn-primary mb-2"
                style="background-color: green;"
              >
                Nueva Empresa
              </button>
            </form>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Tipo de Convenio</label>
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Gestion de Redes, Laborales 1, etc"
            />
          </div>
          <div style="margin-left: initial;" class="form-row">
            <div class="form-group col-md-6">
              <label for="inputDireccion">Fecha de Inicio</label>
              <input
                type="date"
                class="form-control"
                name="direccion"
                id="inputDireccion"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputDireccion">Fecha de Culminación</label>
              <input
                type="text"
                class="form-control"
                name="direccion"
                id="inputDireccion"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Objeto</label>
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Gestion de Redes, Laborales 1, etc"
            />
          </div>
        </form>
        <button type="submit" class="btn btn-success">Registrar Convenio</button>
      </mat-card>
    </div>
  </form>
</div>
