<div class="container_p">
  <form>
    <div class="titulo">
      <h1>
        <b
          >Formulario de Ingreso de Convenios para realizar Prácticas
          Pre-Profesionales o Pasantías</b
        >
      </h1>
    </div>
    <button class="btn btn-danger" (click)="volver_lista()">
      <span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Volver</button
    >&nbsp;&nbsp;&nbsp;
    <br />
    <br />
    <div class="container">
      <form
        [formGroup]="validarForm"
        (ngSubmit)="onSubmit()"
        enctype="multipart/form-data"
      >
        <div class="container">
          <div class="form-group">
            <div class="form-group col-md-6" style="width: auto">
              <label for="idcarrera">Seleccionar Carrera</label>

              <select
                style="width: auto"
                required
                class="form-control"
                (change)="selectChangeCarrera($event)"
                formControlName="idcarrera"
              >
                <option value="" hidden selected>Seleccionar Carrera</option>
                <option
                  *ngFor="let carrera of listcarreras"
                  [ngValue]="carrera.id"
                >
                  {{ carrera.nombrecarreras }}
                </option>
              </select>
              <div class="text text-danger" [hidden]="!error.idcarrera">
                {{ error.idcarrera }}
              </div>
              <div
                *ngIf="
                  idcarrera.invalid && (idcarrera.dirty || idcarrera.touched)
                "
                class="text text-danger"
              >
                <div
                  *ngIf="idcarrera.errors.required"
                  class="container-error-message"
                >
                  Este campo es requerido
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="form-group col-md-6" style="width: auto">
            <label for="idempresa">Seleccionar Empresa</label>
            <select
              required
              class="form-control"
              (change)="selectChangeEmpresa($event)"
              formControlName="idempresa"
            >
              <option value="" hidden selected>Seleccionar Empresa</option>
              <option
                *ngFor="let empresa of listempresa"
                [ngValue]="empresa.id"
              >
                {{ empresa.nombreempresa }}
              </option>
            </select>
            <div class="text text-danger" [hidden]="!error.idempresa">
              {{ error.idempresa }}
            </div>
            <div
              *ngIf="
                idempresa.invalid && (idempresa.dirty || idempresa.touched)
              "
              class="text text-danger"
            >
              <div
                *ngIf="idempresa.errors.required"
                class="container-error-message"
              >
                Este campo es requerido
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="form-group col-md-12">
            <label for="exampleFormControlInput1">Tipo de Convenio</label>
            <input
              required
              type="text"
              class="form-control"
              formControlName="tipo_convenio"
              name="tipo_convenio"
              id="tipo_convenio"
              placeholder="Ej. Carta Compromiso"
            />
            <div class="text text-danger" [hidden]="!error.tipo_convenio">
              {{ error.tipo_convenio }}
            </div>
            <div
              *ngIf="
                tipo_convenio.invalid &&
                (tipo_convenio.dirty || tipo_convenio.touched)
              "
              class="text text-danger"
              ng-show="!tipo_convenio"
            >
              <div
                *ngIf="tipo_convenio.errors.required"
                class="container-error-message"
              >
                Nombre es requerido
              </div>

              <div
                *ngIf="tipo_convenio.errors.minlength"
                class="container-error-message"
              >
                Longitud de cadena inválida
              </div>
              <div
                *ngIf="tipo_convenio.errors.maxlength"
                class="container-error-message"
              >
                Longitud de cadena inválida
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div style="margin-left: initial" class="form-row">
            <div class="form-group col-md-6">
              <label for="inputDireccion">Fecha de Inicio</label>
              <input
                required
                type="date"
                class="form-control"
                formControlName="fecha_inicio"
                name="fecha_inicio"
                id="fecha_inicio"
              />
              <div class="text text-danger" [hidden]="!error.fecha_inicio">
                {{ error.fecha_inicio }}
              </div>
              <div
                *ngIf="
                  fecha_incio.invalid &&
                  (fecha_incio.dirty || fecha_incio.touched)
                "
                class="text text-danger"
                ng-show="!fecha_incio"
              >
                <div
                  *ngIf="fecha_incio.errors.required"
                  class="container-error-message"
                >
                  Este campo es requerido
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputDireccion">Fecha de Culminación</label>
              <input
                required
                type="text"
                class="form-control"
                formControlName="fecha_culminacion"
                name="fecha_culminacion"
                id="fecha_culminacion"
                placeholder="Ej. 3 años"
              />
              <div class="text text-danger" [hidden]="!error.fecha_culminacion">
                {{ error.fecha_culminacion }}
              </div>
              <div
                *ngIf="
                  fecha_culminacion.invalid &&
                  (fecha_culminacion.dirty || fecha_culminacion.touched)
                "
                class="text text-danger"
                ng-show="!fecha_culminacion"
              >
                <div
                  *ngIf="fecha_culminacion.errors.required"
                  class="container-error-message"
                >
                  Este campo es requerido
                </div>

                <div
                  *ngIf="fecha_culminacion.errors.minlength"
                  class="container-error-message"
                >
                  Longitud de cadena inválida
                </div>
                <div
                  *ngIf="fecha_culminacion.errors.maxlength"
                  class="container-error-message"
                >
                  Longitud de cadena inválida
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="form-group col-md-12">
            <label for="exampleFormControlInput1">Objeto</label>
            <input
              required
              type="text"
              class="form-control"
              formControlName="objeto"
              name="objeto"
              id="objeto"
              placeholder="Ej. Cooperación interinstitucional para pasantías y prácticas pre profesionales."
            />
            <div class="text text-danger" [hidden]="!error.objeto">
              {{ error.objeto }}
            </div>
            <div
              *ngIf="objeto.invalid && (objeto.dirty || objeto.touched)"
              class="text text-danger"
              ng-show="!objeto"
            >
              <div
                *ngIf="objeto.errors.required"
                class="container-error-message"
              >
                Este campo es requerido
              </div>

              <div
                *ngIf="objeto.errors.minlength"
                class="container-error-message"
              >
                Longitud de cadena inválida
              </div>
              <div
                *ngIf="objeto.errors.maxlength"
                class="container-error-message"
              >
                Longitud de cadena inválida
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="custom-file col-md-12">
            <label for="exampleFormControlInput1">Archivo</label>
            <input
              type="file"
              (change)="uploadFile($event)"
              formControlName="archivo_convenio"
            />
          </div>
        </div>

        &nbsp;

        <div class="container">
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-floppy-saved">&nbsp;</span>
              <b>Registrar Convenio</b>
            </button>
          </div>
        </div>
      </form>
    </div>
  </form>
</div>
