<div class="container_p">
    <form>
        <h1><b>Listado de Estudiantes que postularon para realizar Practicas Pre-Profesionales o Pasantias</b></h1>
        <button class="btn btn-primary" >Generar Informe</button>&nbsp;&nbsp;&nbsp;

        <table class="table table-hover">
            <thead style="text-align: center;">
                <tr style="text-align: center;">
                    <th class="hidden">Id</th>
                    <th style="text-align: center;">Cedula</th>
                    <th style="text-align: center;">Nombre</th>
                    <th style="text-align: center;">Carrera</th>
                    <th style="text-align: center;">Area</th>
                    <th style="text-align: center;">Empresa</th>
                    <th style="text-align: center;">Opciones</th>
                    <th style="text-align: center;">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;">
                    <td class="hidden">{{ "index" }}</td>
                    <td>{{"1104808413"}}</td>
                    <td>{{"Jhony Mendoza"}}</td>
                    <td>{{"Ingenieria en Sistemas"}}</td>
                    <td>{{"Redes"}}</td>
                    <td>{{"MARKETINGDIGITAL BRAVO & BELTRÁN CÍA. LTDA"}}</td>
                    <td>
                        <div class="float-right mx-1 btn btn-success" style="margin: 5px;" >
                            <i class="fa fa-check"></i>
                          </div>
                          <div class="float-right mx-1 btn btn-danger" >
                            <i class="fa fa-times"></i>
                          </div>
                    </td>
                    <td>{{"Pendiente"}}</td>

                </tr>
               
            </tbody>
        </table>
    </form>
</div>