<div class="container_p">
  <div class="titulo">
    <h1><b>Formulario de Edición de Practicas Pre-Profesionales</b></h1>
  </div>
  <button class="btn btn-danger" (click)="volver_lista()">
    <span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Volver</button
  >&nbsp;&nbsp;&nbsp;
  <br />
  <br />
  <div class="container">
    <form (ngSubmit)="put(formPractica)" #formPractica="ngForm">
      <div class="form-group" style="display: none">
        <label for="idcarrera">Seleccionar Carrera</label>
        <select
          disabled
          class="form-control"
          name="idcarrera"
          id="idcarrera"
          [(ngModel)]="practica.idcarrera"
        >
          <option
            *ngFor="let carrera of listcarreras"
            [value]="carrera.id"
            value="carrera.id"
          >
            {{ carrera.nombrecarreras }}
          </option>
        </select>
      </div>
      <div class="container">
        <div class="form-group col-md-6" style="width: auto">
          <label for="idarea">Seleccionar Area</label>
          <select
            required
            class="form-control"
            name="idarea"
            id="idarea"
            [(ngModel)]="practica.idarea"
          >
            <option *ngFor="let area of listarea" [value]="area.id">
              {{ area.nombrearea }}
            </option>
          </select>
          <div class="text text-danger" [hidden]="!error.idarea">
            {{ error.idarea }}
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group col-md-6" style="width: auto">
          <label for="idempresa">Seleccionar Empresa</label>
          <select
            required
            class="form-control"
            name="idempresa"
            id="idempresa"
            [(ngModel)]="practica.idempresa"
          >
            <option value="" hidden selected>Selecciones practica</option>
            <option *ngFor="let empresa of listempresa" [value]="empresa.id">
              {{ empresa.nombreempresa }}
            </option>
          </select>
          <div class="text text-danger" [hidden]="!error.idempresa">
            {{ error.idempresa }}
          </div>
        </div>
      </div>
      <div class="container">
        <div
          [(ngModel)]="practica.modalidad"
          name="modalidad"
          id="modalidad"
          class="form-group col-md-6"
        >
          <label for="exampleFormControlInput1">Modalidad de Practica</label>
          <br />
          <input
            required
            value="TeleTrabajo"
            style="margin: 5px"
            type="radio"
            name="sexo"
            id="modalidad"
            [(ngModel)]="practica.modalidad"
          />
          <label for="modalidad">TeleTrabajo</label>

          <input
            value="Presencial"
            style="margin: 5px"
            type="radio"
            name="sexo"
            id="modalidad"
            [(ngModel)]="practica.modalidad"
          />
          <label for="modalidad">Presencial</label>
          <br />
        </div>
      </div>
      <div class="container">
        <div class="form-group col-md-4">
          <label for="inputNombre">Cupos Disponibles</label>
          <input
            pattern="^[0-9]+"
            type="number"
            min="1"
            max="20"
            class="form-control"
            name="cupos"
            id="cupos"
            #cupos="ngModel"
            (change)="validarcupos($event)"
            [(ngModel)]="practica.cupos"
            required
          />
          <div class="text text-danger" [hidden]="!error.cupos">
            {{ error.cupos }}
          </div>
          <div
            *ngIf="!validarcupo && (cupos.dirty || cupos.touched)"
            class="text text-danger"
          >
            Numero Invalido
          </div>
          <div
            class="text text-danger"
            *ngIf="
              (cupos.dirty || cupos.touched) &&
              cupos.invalid &&
              cupos.errors.pattern
            "
          >
            Solo Valores positivos
          </div>
          <div *ngIf="cupos.invalid && (cupos.dirty || cupos.touched)">
            <div *ngIf="cupos.errors.required" class="text text-danger">
              Este campo es requerido
            </div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputNombre">Horas Totales a Cumplir</label>
          <input
            pattern="^[0-9]+"
            type="number"
            min="1"
            class="form-control"
            name="horas_cumplir"
            id="horas_cumplir"
            #horas="ngModel"
            [(ngModel)]="practica.horas_cumplir"
            required
          />
          <div class="text text-danger" [hidden]="!error.horas_cumplir">
            {{ error.horas_cumplir }}
          </div>
          <div
            class="text text-danger"
            *ngIf="
              (horas.dirty || horas.touched) &&
              horas.invalid &&
              horas.errors.pattern
            "
          >
            Solo Valores positivos
          </div>
          <div *ngIf="horas.invalid && (horas.dirty || horas.touched)">
            <div *ngIf="horas.errors.required" class="text text-danger">
              Este campo es requerido
            </div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputNombre">Ciclo para realizar Practica</label>
          <input
            minlength="3"
            maxlength="20"
            type="text"
            class="form-control"
            name="ciclo_necesario"
            #ciclo_necesario="ngModel"
            id="ciclo_necesario"
            [(ngModel)]="practica.ciclo_necesario"
          />
          <div class="text text-danger" [hidden]="!error.ciclo_necesario">
            {{ error.ciclo_necesario }}
          </div>
          <div
            *ngIf="
              ciclo_necesario.invalid &&
              (ciclo_necesario.dirty || ciclo_necesario.touched)
            "
            class="text text-danger"
            ng-show="!ciclo_necesario"
          >
            <div
              *ngIf="ciclo_necesario.errors.minlength"
              class="container-error-message"
            >
              Longitud de cadena invalida
            </div>
            <div
              *ngIf="ciclo_necesario.errors.maxlength"
              class="container-error-message"
            >
              Longitud de cadena invalida
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group col-md-4">
          <label for="inputDireccion">Fecha de Inicio</label>
          <input
            type="date"
            class="form-control"
            name="fecha_inicio"
            id="fecha_inicio"
            #fecha="ngModel"
            (change)="validarfecha($event)"
            [(ngModel)]="practica.fecha_inicio"
            required
          />
          <div class="text text-danger" [hidden]="!error.fecha_inicio">
            {{ error.fecha_inicio }}
          </div>
          <div
            *ngIf="!validador && (fecha.dirty || fecha.touched)"
            class="text text-danger"
          >
            Fecha Invalida
          </div>
          <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
            <div *ngIf="fecha.errors.required" class="text text-danger">
              Este campo es requerido
            </div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputDireccion">Horario Entrada</label>
          <input
            type="time"
            class="form-control"
            name="hora_entrada"
            id="hora_entrada"
            [(ngModel)]="practica.hora_entrada"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="inputDireccion">Horario Salida</label>
          <input
            type="time"
            class="form-control"
            name="hora_salida"
            id="hora_salida"
            [(ngModel)]="practica.hora_salida"
          />
        </div>
      </div>
      <div class="container">
        <div class="form-group col-md-6">
          <label for="exampleFormControlTextarea1"
            >Descripcion de Actividades a realizar</label
          >
          <textarea
            minlength="20"
            maxlength="250"
            class="form-control"
            name="actividades"
            id="actividades"
            #actividades="ngModel"
            [(ngModel)]="practica.actividades"
            rows="3"
          ></textarea>
          <div class="text text-danger" [hidden]="!error.actividades">
            {{ error.actividades }}
          </div>
          <div
            *ngIf="
              actividades.invalid && (actividades.dirty || actividades.touched)
            "
            class="text text-danger"
            ng-show="!nombrearea"
          >
            <div
              *ngIf="actividades.errors.minlength"
              class="container-error-message"
            >
              Longitud de cadena invalida
            </div>
            <div
              *ngIf="actividades.errors.maxlength"
              class="container-error-message"
            >
              Longitud de cadena invalida
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="exampleFormControlTextarea1"
            >Requisitos del Estudiante</label
          >
          <textarea
            minlength="20"
            maxlength="250"
            class="form-control"
            name="requerimientos"
            id="requerimientos"
            #requrimientos="ngModel"
            [(ngModel)]="practica.requerimientos"
            rows="3"
          ></textarea>
          <div class="text text-danger" [hidden]="!error.requerimientos">
            {{ error.requerimientos }}
          </div>
          <div
            *ngIf="
              requrimientos.invalid &&
              (requrimientos.dirty || requrimientos.touched)
            "
            class="text text-danger"
            ng-show="!nombrearea"
          >
            <div
              *ngIf="requrimientos.errors.minlength"
              class="container-error-message"
            >
              Longitud de cadena invalida
            </div>
            <div
              *ngIf="requrimientos.errors.maxlength"
              class="container-error-message"
            >
              Longitud de cadena invalida
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-refresh">&nbsp;</span>
            <b> Actualizar Practica</b>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
