<div class="container_p">
  <form>
    <h1><b>Listado de Pasantías Disponibles</b></h1>
    <button class="btn btn-primary" (click)="add_pasantias()">
      <span class="glyphicon glyphicon-plus-sign">&nbsp;</span
      ><b> Nueva Pasantía</b></button
    >&nbsp;&nbsp;&nbsp;
    <table class="table table-hover">
      <thead style="text-align: center">
        <tr style="text-align: center">
          <th class="hidden">Id</th>
          <th style="text-align: center">Área</th>
          <th style="text-align: center">Empresa</th>
          <th style="text-align: center">Modalidad</th>
          <th style="text-align: center">Tipo de Empresa</th>
          <th style="text-align: center">Vacantes</th>
          <th style="text-align: center">Fecha de Inicio</th>
          <th style="text-align: center">Remuneración</th>
          <th style="text-align: center">Opciones</th>
        </tr>
      </thead>
      <tbody></tbody>
      <tbody>
        <ng-container
          *ngFor="let pasantia of listpracticas"
          style="text-align: center"
        >
          <tr *ngIf="pasantia.cupos > 0">
            <td class="hidden">{{ pasantia.id }}</td>
            <td>{{ pasantia.nombrearea }}</td>
            <td>
              {{ pasantia.nombreempresa }}
            </td>
            <td>
              {{ pasantia.modalidad }}
            </td>
            <td>{{ pasantia.tipo_empresa }}</td>
            <td>{{ pasantia.cupos }}</td>
            <td>{{ pasantia.fecha_inicio | date: "dd/MM/yyyy" }}</td>
            <td>
              {{
                pasantia.salario == "0.0"
                  ? "A DEFINIR"
                  : "$ " + pasantia.salario + ".00"
              }}
            </td>
            <td>
              <div
                routerLink="/principal/edit-pasantias/{{ pasantia.id }}"
                class="float-right mx-1 btn btn-success"
                style="margin: 5px"
              >
                <i class="fa fa-edit"></i>
              </div>
              <div
                (click)="eliminar_pasantia(pasantia)"
                class="float-right mx-1 btn btn-danger"
              >
                <i class="fa fa-trash"></i>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </form>
</div>
