<div class="container_p">
  <form>
    <div class="titulo">
      <h1><b>Formulario de Ingreso de Pasantías</b></h1>
    </div>
    <button class="btn btn-danger" (click)="volver_lista()">
      <span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Volver</button
    >&nbsp;&nbsp;&nbsp;
    <br />
    <br />
    <div class="container">
      <form [formGroup]="validarForm" (ngSubmit)="onSubmit()">
        <div class="container">
          <div class="form-group">
            <div class="form-group col-md-6" style="width: auto">
              <label for="idcarrera">Seleccionar Carrera</label>

              <select
                style="width: auto"
                required
                class="form-control"
                (change)="selectChangeCarrera($event)"
                formControlName="idcarrera"
              >
                <option value="" hidden selected>Seleccionar Carrera</option>
                <option
                  *ngFor="let carrera of listcarreras"
                  [ngValue]="carrera.id"
                >
                  {{ carrera.nombrecarreras }}
                </option>
              </select>
              <div class="text text-danger" [hidden]="!error.idcarrera">
                {{ error.idcarrera }}
              </div>
              <div
                *ngIf="
                  idcarrera.invalid && (idcarrera.dirty || idcarrera.touched)
                "
                class="text text-danger"
              >
                <div
                  *ngIf="idcarrera.errors.required"
                  class="container-error-message"
                >
                  Este campo es requerido
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="form-group col-md-6" style="width: auto">
            <label for="idempresa">Seleccionar Área</label>
            <select
              required
              class="form-control"
              (change)="selectChangeArea($event)"
              formControlName="idarea"
            >
              <option value="" hidden selected>Seleccionar Área</option>
              <option *ngFor="let area of listarea" [ngValue]="area.id">
                {{ area.nombrearea }}
              </option>
            </select>
            <div class="text text-danger" [hidden]="!error.idarea">
              {{ error.idarea }}
            </div>
            <div
              *ngIf="idarea.invalid && (idarea.dirty || idarea.touched)"
              class="text text-danger"
            >
              <div
                *ngIf="idarea.errors.required"
                class="container-error-message"
              >
                Este campo es requerido
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="form-group col-md-6" style="width: auto">
            <label for="idempresa">Seleccionar Empresa</label>
            <select
              required
              class="form-control"
              (change)="selectChangeEmpresa($event)"
              formControlName="idempresa"
            >
              <option value="" hidden selected>Seleccionar Empresa</option>
              <option
                *ngFor="let convenio of listconvenios"
                [ngValue]="convenio.idempresa"
              >
                {{ convenio.nombreempresa }}
              </option>
            </select>
            <div class="text text-danger" [hidden]="!error.idempresa">
              {{ error.idempresa }}
            </div>
            <div
              *ngIf="
                idempresa.invalid && (idempresa.dirty || idempresa.touched)
              "
              class="text text-danger"
            >
              <div
                *ngIf="idempresa.errors.required"
                class="container-error-message"
              >
                Este campo es requerido
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="form-group col-md-6">
            <label for="exampleFormControlInput1"
              >Modalidad de Pasantía<label style="color: #a94442">
                *</label
              ></label
            >
            <br />
            <input
              required
              value="Presencial"
              style="margin: 5px"
              type="radio"
              formControlName="modalidad"
            />
            <label for="tipo_empresa">Presencial</label>

            <input
              required
              value="TeleTrabajo"
              style="margin: 5px"
              type="radio"
              formControlName="modalidad"
            />
            <label for="tipo_empresa">TeleTrabajo</label>
            <br />
          </div>
          <div class="text text-danger" [hidden]="!error.modalidad">
            {{ error.modalidad }}
          </div>
        </div>
        <div style="margin-left: initial" class="form-row">
          <div class="container">
            <div class="form-group col-md-4">
              <label for="inputNombre">Cupos Disponibles</label>
              <input
                required
                type="number"
                class="form-control"
                name="cupos"
                id="inputcupos"
                min="1"
                max="20"
                formControlName="cupos"
                placeholder="Ej. 3"
              />
              <div class="text text-danger" [hidden]="!error.cupos">
                {{ error.cupos }}
              </div>
              <div
                *ngIf="cupos.invalid && (cupos.dirty || cupos.touched)"
                class="text text-danger"
              >
                <div
                  *ngIf="cupos.errors.required"
                  class="container-error-message"
                >
                  Este campo es requerido
                </div>
                <div *ngIf="cupos.errors.min" class="container-error-message">
                  Rango minimo 1
                </div>
                <div *ngIf="cupos.errors.max" class="container-error-message">
                  Rango maximo 20
                </div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="inputNombre">Horas Totales a Cumplir</label>
              <input
                required
                type="number"
                class="form-control"
                name="horas_cumplir"
                id="horas_cumplir"
                formControlName="horas_cumplir"
                placeholder="Ej. 180"
                min="1"
              />
              <div class="text text-danger" [hidden]="!error.horas_cumplir">
                {{ error.horas_cumplir }}
              </div>
              <div
                *ngIf="
                  horas_cumplir.invalid &&
                  (horas_cumplir.dirty || horas_cumplir.touched)
                "
                class="text text-danger"
              >
                <div
                  *ngIf="horas_cumplir.errors.required"
                  class="container-error-message"
                >
                  Este campo es requerido
                </div>
                <div
                  *ngIf="horas_cumplir.errors.min"
                  class="container-error-message"
                >
                  Rango minimo 1
                </div>
                <div
                  *ngIf="horas_cumplir.errors.max"
                  class="container-error-message"
                >
                  Rango maximo 200
                </div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="inputNombre">Ciclo para realizar Pasantía</label>
              <input
                type="text"
                class="form-control"
                name="ciclo_necesario"
                id="ciclo_necesario"
                formControlName="ciclo_necesario"
                min="1"
                placeholder="Ej. 180"
              />
              <div class="text text-danger" [hidden]="!error.ciclo_necesario">
                {{ error.ciclo_necesario }}
              </div>
              <div
                *ngIf="
                  ciclo_necesario.invalid &&
                  (ciclo_necesario.dirty || ciclo_necesario.touched)
                "
                class="text text-danger"
              >
                <div
                  *ngIf="ciclo_necesario.errors.minlength"
                  class="container-error-message"
                >
                  Campo Inválido
                </div>
                <div
                  *ngIf="ciclo_necesario.errors.maxlength"
                  class="container-error-message"
                >
                  Campo Inválido
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="form-group col-md-3">
              <label for="inputDireccion">Fecha de Inicio</label>
              <input
                required
                type="date"
                class="form-control"
                name="fecha_inicio"
                id="fecha_inicio"
                (change)="validarfecha($event)"
                formControlName="fecha_inicio"
              />
              <div class="text text-danger" [hidden]="!error.fecha_inicio">
                {{ error.fecha_inicio }}
              </div>
              <div
                *ngIf="
                  !validador && (fecha_inicio.dirty || fecha_inicio.touched)
                "
                class="text text-danger"
              >
                Fecha Invalida
              </div>
              <div
                *ngIf="
                  fecha_inicio.invalid &&
                  (fecha_inicio.dirty || fecha_inicio.touched)
                "
                class="text text-danger"
              >
                <div
                  *ngIf="fecha_inicio.errors.required"
                  class="container-error-message"
                >
                  Este campo es requerido
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label for="inputDireccion">Horario Entrada</label>
              <input
                type="time"
                class="form-control"
                name="hora_entrada"
                (change)="validarhora($event)"
                id="hora_entrada"
                formControlName="hora_entrada"
              />
              <div
                *ngIf="
                  !validadorhora && (hora_entrada.dirty || hora_entrada.touched)
                "
                class="text text-danger"
              >
                Hora Invalida
              </div>
            </div>
            <div class="form-group col-md-3">
              <label for="inputDireccion">Horario Salida</label>
              <input
                type="time"
                class="form-control"
                name="hora_salida"
                id="hora_salida"
                (change)="validarhorasalida($event)"
                formControlName="hora_salida"
              />
              <div
                *ngIf="
                  !validadorhorasalida &&
                  (hora_salida.dirty || hora_salida.touched)
                "
                class="text text-danger"
              >
                Hora Invalida
              </div>
            </div>
            <div class="form-group col-md-3">
              <label for="salario">Remuneración</label>
              <input
                type="number"
                step="any"
                min="0"
                max="100"
                class="form-control"
                name="salario"
                id="salario"
                formControlName="salario"
                placeholder="Ej. 80.00"
              />
            </div>
          </div>
        </div>

        <div class="container">
          <div class="form-group col-md-6">
            <label for="exampleFormControlTextarea1"
              >Descripción de Actividades a realizar</label
            >
            <textarea
              class="form-control"
              rows="3"
              name="actividades"
              id="actividades"
              formControlName="actividades"
            >
            </textarea>
            <div class="text text-danger" [hidden]="!error.actividades">
              {{ error.actividades }}
            </div>
            <div
              *ngIf="
                actividades.invalid &&
                (actividades.dirty || actividades.touched)
              "
              class="text text-danger"
              ng-show="!actividades"
            >
              <div
                *ngIf="actividades.errors.minlength"
                class="container-error-message"
              >
                Longitud de cadena invalida
              </div>
              <div
                *ngIf="actividades.errors.maxlength"
                class="container-error-message"
              >
                Longitud de cadena invalida
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="exampleFormControlTextarea1"
              >Requisitos del Estudiante</label
            >
            <textarea
              class="form-control"
              rows="3"
              name="requerimientos"
              id="requerimientos"
              formControlName="requerimientos"
            ></textarea>
            <div class="text text-danger" [hidden]="!error.requerimientos">
              {{ error.requerimientos }}
            </div>
            <div
              *ngIf="
                requerimientos.invalid &&
                (requerimientos.dirty || requerimientos.touched)
              "
              class="text text-danger"
              ng-show="!requerimientos"
            >
              <div
                *ngIf="requerimientos.errors.minlength"
                class="container-error-message"
              >
                Longitud de cadena invalida
              </div>
              <div
                *ngIf="requerimientos.errors.maxlength"
                class="container-error-message"
              >
                Longitud de cadena invalida
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-floppy-saved">&nbsp;</span>
              <b>Registrar Pasantía</b>
            </button>
          </div>
        </div>
      </form>
    </div>
  </form>
</div>
