<div class="container_p">
  <form>
    <h1>
      <b>Listado de Usuarios Registrados</b>
    </h1>

    <table class="table table-hover">
      <thead style="text-align: center;">
        <tr style="text-align: center;">
          <th class="hidden">Id</th>
          <th style="text-align: center;">N°</th>
          <th style="text-align: center;">Cedula</th>
          <th style="text-align: center;">Nombre</th>
          <th style="text-align: center;">Estado</th>
          <th style="text-align: center;">Opciones</th>
        </tr>
      </thead>
      <tbody *ngFor="let usuario of listusuarios; let indice = index">
        <tr style="text-align: center;">
          <td class="hidden">{{ usuario.id }}</td>
          <td>{{ indice + 1 }}</td>
          <td>{{ usuario.cedula }}</td>
          <td>{{ usuario.nombre_completo }}</td>
          <td>{{ usuario.estadousuario == 0 ? "DESACTIVADO" : "ACTIVADO" }}</td>

          <td>
            <button
              routerLink="/principal/activar/{{ usuario.id }}"
              class="btn btn-info"
            >
              <b>Acciones</b>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">
          Datos de Solicitud de Practica
        </h2>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"
              >Recipient:</label
            >
            <input type="text" class="form-control" id="recipient-name" />
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Rechazar
        </button>
        <button type="button" class="btn btn-success">Aprobar</button>
      </div>
    </div>
  </div>
</div>
