<div *ngIf="role == 'admin'; else elseBlock" class="container_p">
  <form>
    <h1>
      <b>Listado de Usuarios Registrados</b>
    </h1>

    <table class="table table-hover">
      <thead style="text-align: center">
        <tr style="text-align: center">
          <th class="hidden">Id</th>
          <th style="text-align: center">N°</th>
          <th style="text-align: center">Cedula</th>
          <th style="text-align: center">Nombre</th>
          <th style="text-align: center">Estado</th>
          <th style="text-align: center">Opciones</th>
        </tr>
      </thead>
      <tbody *ngFor="let usuario of listusuarios; let indice = index">
        <tr style="text-align: center">
          <td class="hidden">{{ usuario.id }}</td>
          <td>{{ indice + 1 }}</td>
          <td>{{ usuario.cedula }}</td>
          <td>{{ usuario.nombre_completo }}</td>
          <td>{{ usuario.estadousuario == 0 ? "DESACTIVADO" : "ACTIVADO" }}</td>

          <td>
            <button
              routerLink="/principal/activar/{{ usuario.id }}"
              class="btn btn-info"
            >
              <b>Acciones</b>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

<ng-template #elseBlock>
  <h1 style="text-align: center; font-size: 100;"><p style="font-size: 200;">No Autorizado</p></h1>

  <p style="text-align: center">
    Lo sentimos, pero la pagina a la que intentas ingresar esta denegada.
  </p>

  <script>
    var GOOG_FIXURL_LANG = (navigator.language || "").slice(0, 2),
      GOOG_FIXURL_SITE = location.host;
  </script>
  <script src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
</ng-template>
