<div *ngIf="role == 'admin'; else elseBlock" class="container_p">
  <form>
    <h1><b>Listado de Carreras</b></h1>
    <button class="btn btn-primary" (click)="add_carreras()">
      Nueva Carrera</button
    >&nbsp;&nbsp;&nbsp;
    <table class="table table-hover">
      <thead style="text-align: center">
        <tr style="text-align: center">
          <th class="hidden">Id</th>
          <th style="text-align: center">Nro.</th>
          <th style="text-align: center">Nombre</th>
          <th style="text-align: center">Estado</th>
          <th style="text-align: center">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let carrera of listcarreras; let indice = index"
          style="text-align: center"
        >
          <td class="hidden">{{ carrera.id }}</td>
          <td>{{ indice + 1 }}</td>
          <td>{{ carrera.nombrecarreras }}</td>
          <td>{{ carrera.estadocarreras == 0 ? "-" : "HABILITADO" }}</td>
          <td>
            <div
              routerLink="/principal/edit-carreras/{{ carrera.id }}"
              class="float-right mx-1 btn btn-success"
              style="margin: 5px"
            >
              <i class="fa fa-edit"></i>
            </div>
            <div class="float-right mx-1 btn btn-danger">
              <i class="fa fa-trash"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

<ng-template #elseBlock>
  <h1 style="text-align: center; font-size: 100;"><p style="font-size: 200;">No Autorizado</p></h1>

  <p style="text-align: center">
    Lo sentimos, pero la pagina a la que intentas ingresar esta denegada.
  </p>

  <script>
    var GOOG_FIXURL_LANG = (navigator.language || "").slice(0, 2),
      GOOG_FIXURL_SITE = location.host;
  </script>
  <script src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
</ng-template>
