<div *ngIf="role == 'admin'; else elseBlock" class="container_p">
  <form>
    <h1>
      <b>Activar o Desactivar Usuarios</b>
    </h1>
    <button class="btn btn-danger">Volver</button>&nbsp;&nbsp;&nbsp;
    <br />
    <br />
    <div class="container">
      <mat-card>
        <mat-card-title>Datos</mat-card-title>

        <form>
          <div class="form-group">
            <label for="cedula">Cedula</label>
            <input
              autocomplete="off"
              [(ngModel)]="user.cedula"
              placeholder="Nombre Completo"
              name="cedula"
              class="form-control"
              id="cedula"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="cedula">Nombre</label>
            <input
              autocomplete="off"
              [(ngModel)]="user.nombre_completo"
              placeholder="Nombre Completo"
              name="nombre_completo"
              class="form-control"
              id="nombre_completo"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="cedula">Correo Electronico</label>
            <input
              autocomplete="off"
              [(ngModel)]="user.email"
              name="email"
              class="form-control"
              id="email"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="cedula">Carrera</label>
            <input
              autocomplete="off"
              [(ngModel)]="user.nombrecarreras"
              name="nombrecarreras"
              class="form-control"
              id="nombrecarreras"
              disabled
            />
          </div>

          <button (click)="put()" class="btn btn-success">
            <b>Activar</b></button
          >&nbsp;&nbsp;&nbsp;
          <button (click)="bajar()" class="btn btn-danger">
            <b>Desactivar</b>
          </button>
        </form>
      </mat-card>
    </div>
  </form>
</div>

<ng-template #elseBlock>
  <h1 style="text-align: center; font-size: 100;"><p style="font-size: 200;">No Autorizado</p></h1>

  <p style="text-align: center">
    Lo sentimos, pero la pagina a la que intentas ingresar esta denegada.
  </p>

  <script>
    var GOOG_FIXURL_LANG = (navigator.language || "").slice(0, 2),
      GOOG_FIXURL_SITE = location.host;
  </script>
  <script src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
</ng-template>
