<div class="container_p">
  <form>
    <h1>
      <b
        >Listado de Proyectos Macro para realizar Prácticas Pre-Profesionales
      </b>
    </h1>
    <button class="btn btn-primary" (click)="add_macro()">
      <span class="glyphicon glyphicon-plus-sign">&nbsp;</span
      ><b> Nuevo Proyecto Macro</b></button
    >&nbsp;&nbsp;&nbsp;

    <br />
    <br />

    <table class="table table-hover">
      <thead style="text-align: center">
        <tr style="text-align: center">
          <th class="hidden">Id</th>
          <th style="text-align: center">N°</th>
          <th style="text-align: center">Área</th>
          <th style="text-align: center">Nombre de proyecto</th>
          <th style="text-align: center">Encargado</th>
          <th style="text-align: center">Proyecto Básico</th>
          <th style="text-align: center">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let macro of listmacro; let indice = index"
          style="text-align: center"
        >
          <td class="hidden">{{ macro.id }}</td>
          <td class="hidden">{{ macro.externalid_macro }}</td>
          <td style="text-align: center">{{ indice + 1 }}</td>
          <td style="text-align: center">{{ macro.nombrearea }}</td>
          <td style="text-align: center">{{ macro.nombre_prmacro }}</td>
          <td style="text-align: center">{{ macro.encargado }}</td>
          <td>
            <div
              routerLink="/principal/list-basico/{{ macro.id }}"
              class="float-right mx-1 btn btn-info"
              style="margin: 3px"
            >
              <i class="fa fa-eye"></i>
            </div>
            <div
              routerLink="/principal/add-basico/{{ macro.id }}"
              class="float-right mx-1 btn btn-primary"
              style="margin: 4px"
            >
              <i class="fa fa-plus-circle"></i>
            </div>
          </td>
          <td>
            <div
              routerLink="/principal/edit-proyecto/{{ macro.id }}"
              class="float-right mx-1 btn btn-success"
              style="margin: 5px"
            >
              <i class="fa fa-edit"></i>
            </div>
            <div
              (click)="eliminar_macro(macro)"
              class="float-right mx-1 btn btn-danger"
            >
              <i class="fa fa-trash"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
