<div class="container_p">
  <div class="titulo">
    <h1><b>Formulario de Edición de Proyectos Macro</b></h1>
  </div>
  <button class="btn btn-danger" (click)="volver_lista()">
    <span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Volver</button
  >&nbsp;&nbsp;&nbsp;
  <br />
  <br />

  <form (ngSubmit)="put(formMacro)" #formMacro="ngForm">
    <div class="form-group" style="display: none">
      <label for="idcarrera">Seleccionar Carrera</label>
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Password</label>
          <select
            disabled
            class="form-control"
            name="idcarrera"
            id="idcarrera"
            [(ngModel)]="macro.idcarrera"
          >
            <option value="" hidden selected>Seleccionar Carrera</option>
            <option
              *ngFor="let carrera of listcarreras"
              [value]="carrera.id"
              value="carrera.id"
            >
              {{ carrera.nombrecarreras }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="container">
      <div class="form-group col-md-6" style="width: auto">
        <label for="idarea">Seleccionar Area</label>
        <select
          required
          class="form-control"
          name="idarea"
          id="idarea"
          [(ngModel)]="macro.idarea"
        >
          <option value="" hidden selected>Seleccionar Área</option>
          <option *ngFor="let area of listarea" [value]="area.id">
            {{ area.nombrearea }}
          </option>
        </select>
        <div class="text text-danger" [hidden]="!error.idarea">
          {{ "Campo Obligatorio" }}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-group col-md-12">
        <label for="inputNombre">Nombre de Proyecto Macro</label>
        <input
          minlength="10"
          maxlength="100"
          required
          type="text"
          class="form-control"
          name="nombre_prmacro"
          id="nombre_prmacro"
          #nombre_macro="ngModel"
          [(ngModel)]="macro.nombre_prmacro"
        />
        <div class="text text-danger" [hidden]="!error.nombre_prmacro">
          {{ error.nombre_prmacro }}
        </div>
        <div
          *ngIf="
            nombre_macro.invalid && (nombre_macro.dirty || nombre_macro.touched)
          "
          class="text text-danger"
          ng-show="!nombre_macro"
        >
          <div
            *ngIf="nombre_macro.errors.required"
            class="container-error-message"
          >
            Este campo es requerido
          </div>
          <div
            *ngIf="nombre_macro.errors.minlength"
            class="container-error-message"
          >
            Longitud de cadena inválida
          </div>
          <div
            *ngIf="nombre_macro.errors.maxlength"
            class="container-error-message"
          >
            Longitud de cadena inválida
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-group col-md-12">
        <label for="inputNombre">Nombre de Encargado del Proyecto</label>
        <input
          minlength="10"
          maxlength="100"
          required
          type="text"
          class="form-control"
          name="encargado"
          id="encargado"
          #encargado="ngModel"
          [(ngModel)]="macro.encargado"
        />
        <div class="text text-danger" [hidden]="!error.encargado">
          {{ error.encargado }}
        </div>
        <div
          *ngIf="encargado.invalid && (encargado.dirty || encargado.touched)"
          class="text text-danger"
          ng-show="!encargado"
        >
          <div
            *ngIf="encargado.errors.required"
            class="container-error-message"
          >
            Este campo es requerido
          </div>
          <div
            *ngIf="encargado.errors.minlength"
            class="container-error-message"
          >
            Longitud de cadena inválida
          </div>
          <div
            *ngIf="encargado.errors.maxlength"
            class="container-error-message"
          >
            Longitud de cadena inválida
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="form-group col-md-12">
        <label for="exampleFormControlTextarea1">Descripción</label>
        <textarea
          minlength="20"
          maxlength="250"
          class="form-control"
          id="descripcion"
          name="descripcion"
          #descripcion="ngModel"
          [(ngModel)]="macro.descripcion"
          rows="3"
        ></textarea>
        <div class="text text-danger" [hidden]="!error.descripcion">
          {{ error.descripcion }}
        </div>
        <div
          *ngIf="
            descripcion.invalid && (descripcion.dirty || descripcion.touched)
          "
          class="text text-danger"
          ng-show="!descripcion"
        >
          <div
            *ngIf="descripcion.errors.minlength"
            class="container-error-message"
          >
            Longitud de cadena inválida
          </div>
          <div
            *ngIf="descripcion.errors.maxlength"
            class="container-error-message"
          >
            Longitud de cadena inválida
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="form-group col-md-6">
        <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-refresh">&nbsp;</span>
          <b> Actualizar Proyecto Macro</b>
        </button>
      </div>
    </div>
  </form>
</div>
