<div class="container_p">
  <form>
    <div class="titulo">
      <h1>
        <b
          >Ingreso de Empresas para realizar Practicas Pre-Profesionales o
          Pasantias</b
        >
      </h1>
    </div>
    <button class="btn btn-danger" (click)="volver_lista()">Volver</button
    >&nbsp;&nbsp;&nbsp;
    <br />
    <br />
    <div class="container">
      <mat-card>
        <mat-card-title>Datos</mat-card-title>

        <form [formGroup]="validarForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="idcarrera">Seleccionar Carrera</label>
            <form [formGroup]="validarForm" class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Password</label>
                <select
                  class="form-control"
                  (change)="selectChangeCarrera($event)"
                  formControlName="idcarrera"
                >
                  <option value="" hidden selected>Seleccionar Carrera</option>
                  <option
                
                    *ngFor="let carrera of listcarreras"
                    [ngValue]="carrera.id"
                    >{{ carrera.nombrecarreras }}
                    </option
                  >
                 
                </select>
              </div>
              <br>
             
             
            </form>
          </div>


       


         
          <div class="form-group">
            <label for="exampleFormControlInput1"
              >Nombre de Empresa/Institución/Dependencia</label
            >
            <input
              type="text"
              formControlName="nombreempresa"
              name="nombreempresa"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Gestion de Redes, Laborales 1, etc"
            />
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Tipo de Empresa</label>
            <br />
            <input value ="Privada"style="margin: 5px;" type="radio" name="sexo" id="hombre" formControlName="tipo_empresa" />
            <label for="hombre">Privada</label>

            <input value="Publica" style="margin: 5px;" type="radio" name="sexo" id="mujer" formControlName="tipo_empresa" />
            <label for="mujer">Publica</label>
            <br />
          
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1"
              >Nombre de Representante Legal</label
            >
            <input
              type="text"
              class="form-control"
              formControlName="nombrerepresentante"
              name="nombrerepresentante"
              id="nombrerepresentante"
              placeholder="Gestion de Redes, Laborales 1, etc"
            />
          </div>

          <div style="margin-left: initial;" class="form-row">
            <div class="form-group col-md-6">
              <label for="inputNombre">RUC</label>
              <input
                type="text"
                class="form-control"
                formControlName="ruc"
                name="ruc"
                id="ruc"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputDireccion">Dirección</label>
              <input
                type="text"
                class="form-control"
                formControlName="direccion"
                name="direccion"
                id="inputDireccion"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputTelefono">Telefono</label>
              <input
                type="number"
                class="form-control"
                formControlName="telefono"
                name="telefono"
                id="telefono"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputTelefono">Correo Electronico</label>
              <input
                type="email"
                class="form-control"
                formControlName="correo"
                name="correo"
                id="inputcorreo"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1"
              >Actividades que realiza la empresa/institucion/dependencia</label
            >
            <textarea
              class="form-control"
              formControlName="actividades"
              name="actividades"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>

          <button type="submit" class="btn btn-success">
            Registrar Empresa
          </button>
        </form>
      </mat-card>
    </div>
  </form>
</div>
