<div class="container_p">
  <form>
    <h1>
      <b>Ingreso de Areas para Practicas Pre-Profesionales o Pasantias</b>
    </h1>
    <button class="btn btn-danger" (click)="volver_lista()">Volver</button
    >&nbsp;&nbsp;&nbsp;
    <br />
    <br />
    <div class="container">
      <mat-card>
        <mat-card-title>Datos</mat-card-title>

        <form [formGroup]="validarForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="idcarrera">Seleccionar Carrera</label>
            <form [formGroup]="validarForm" class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                <select
                  formControlName="idcarrera"
                  class="form-control"
                  (change)="selectChangeCarrera($event)"
                >
                  <option value="" selected>--Elegir opcion--</option>
                  <option
                    *ngFor="let carrera of listcarreras"
                    [ngValue]="carrera.id"
                  >
                    {{ carrera.nombrecarreras }}
                  </option>
                </select>
              </div>
           
            </form>
          </div>

          <div class="form-group">
            <label for="nombrearea">Nombre de Area</label>
            <input
              autocomplete="off"
              formControlName="nombrearea"
              placeholder="Nombre Completo"
              name="nombrearea"
              class="form-control"
              id="nombrearea"
              required
            />
          </div>

          <button type="submit" class="btn btn-success">
            <b>Registrar Area</b>
          </button>
        </form>
      </mat-card>
    </div>
  </form>
</div>
