<div class="container_p">
  <form [formGroup]="validarForm" (ngSubmit)="onSubmit()">
    <h1>
      <b>Formulario de Ingreso de Areas para Practicas Pre-Profesionales o Pasantias</b>
    </h1>
    <button class="btn btn-danger" (click)="volver_lista()">
      <span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Volver
    </button>
    &nbsp;&nbsp;&nbsp;
    <br />
    <br />

    <div class="container">
      <div class="form-group col-md-6" style="width: auto">
        <label for="idcarrera">Seleccionar Carrera</label>
        <select
          required
          class="form-control"
          (change)="selectChangeCarrera($event)"
          formControlName="idcarrera"
        >
          <option value="" hidden selected>Seleccionar Carrera</option>
          <option *ngFor="let carrera of listcarreras" [ngValue]="carrera.id">
            {{ carrera.nombrecarreras }}
          </option>
        </select>
        <div
          *ngIf="idcarrera.invalid && (idcarrera.dirty || idcarrera.touched)"
          class="alert-danger"
        >
          <div
            *ngIf="idcarrera.errors.required"
            class="container-error-message"
          >
            Este campo es requerido
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-group col-md-6">
        <label for="nombrearea">Nombre de Area</label>
        <input
          autocomplete="off"
          formControlName="nombrearea"
          placeholder="Ej. Redes y Telecomunicaciones, Desarrollo de Software"
          name="nombrearea"
          class="form-control"
          id="nombrearea"
          required
        />
        <div class="alert-danger" [hidden]="!prueba">
          {{ "Este nombre ya esta en uso" }}
        </div>
       
        <div
          *ngIf="nombrearea.invalid && (nombrearea.dirty || nombrearea.touched)"
          class="alert-danger"
          ng-show="!nombrearea"
        >
          <div
            *ngIf="nombrearea.errors.required"
            class="container-error-message"
          >
            Nombre es requerido
          </div>

          <div
            *ngIf="nombrearea.errors.minlength"
            class="container-error-message"
          >
            Longitud de cadena invalida
          </div>
          <div
            *ngIf="nombrearea.errors.maxlength"
            class="container-error-message"
          >
            Longitud de cadena invalida
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-group col-md-6">
        <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-floppy-saved">&nbsp;</span>
          <b>Registrar Area</b>
        </button>
      </div>
    </div>
  </form>
</div>
